spring:
  application:
    name: real-estate-crm
 
  datasource:
    url: jdbc:h2:mem:lmscrmdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
 
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
 
  h2:
    console:
      enabled: true
      path: /h2-console
 
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
 
server:
  port: 8080	 